* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: peru;
}

.card {
  border: 2px solid steelblue;
  border-radius: 20px;
  width: 200px;
  height: 220px;
  display: flex;
  flex-direction: column;
}
.card h2 {
  color: blue;
}
